# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build
build/
dist/
.parcel-cache/

# Environment variables
.env
backend/.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
